.product__item {
    border: 1px solid #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    border-radius: 7px;
}

.product__img{
    margin-bottom: 20px;
    transition: .3s;
}

.product__img:hover{
    transform: scale(1.2);
}

.product__content h5 a{
    color: #212245;
    font-size: .9rem;
}

.product__content h5{
    margin-bottom: 30px;
}

.product__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: #df2022;
}

.addTOCart__btn {
    border:  none;
    padding: 7px 25px;
    background: #df2022;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
}

.addTOCart__btn:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 992px){
    .product__content h5 a {
        font-size: .6rem;
    }

    .product__item{
        padding: 20px;
    }
    
    .addTOCart__btn{
        padding: 5px 15px;
        font-size: .8rem;
    }
}